* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainncomt {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left bottom, lightgreen, rgb(134, 202, 134));
}

.smacont {
  max-width: 450px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0.3);
}

.smacont h2 {
  text-align: center;
  margin-bottom: 25px;
}

.samsize {
  width: 90%;
  margin: 10px auto;
  padding: 10px 5px;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
}

.calcures {
  width: 90%;
  height: 25px;
  margin: 10px auto;
  padding: 10px 5px;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
}
.butt {
  background-color: green;
  border-radius: 10px;
  width: 93%;
  margin-top: 25px;
  margin-bottom: 25px;
  color: antiquewhite;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

.lasttex {
  margin-top: 50px;
}
@media (max-width:450px){

  .smacont {
    width: 90%;
  
  }
}